
<h4>Welcome to FoodTruckFalcon!</h4>

<%= render  :partial => "ft_header",  :locals => {  } %>

<%= render  :partial => "ft_form",  :locals => {  } %>

<%= render  :partial => "ft_map",  :locals => {  } %>

<%= render  :partial => "ft_truck_data",  :locals => { :close_trucks => @closer_trucks  } %>


