<!DOCTYPE html>
<html>
<head>
  <title>FoodTruckFalcon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuySn72zfYzUb_89cYYFC7NsWnC9OYzOA&callback=initMap">
    </script>

 <script>
function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('new-map'), {
    center: {lat: 37.774929, lng: -122.419416 },
    scrollwheel: false,
    zoom: 8
  });
}
</script>


</head>
<body>

<%= yield %>

</body>
</html>
